---
layout: index
title: Archive
permalink: /archive/
---
{% assign posts = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}

<div class="container">
  <div class="row">

    <aside class="col-md-3 aside-index">
      <h2 class="sr-only">Years</h2>
      <ul class="list-group aside-index-list small ilist-group-flush">
        {% for year in posts reversed %}
          <a class="list-group-item list-group-item-action" href="#archive-{{ year.name }}">
            {{ year.name }}
          </a>
        {% endfor %}
      </ul>
    </aside>

    <section class="col-md-9">
      <div class="h3 text-muted">All Posts</div>

      {% for year in posts reversed %}
          <div class="card my-4">
            <h2 class="h4 card-header" id="archive-{{ year.name }}">{{ year.name }}</h2>
            <ul class="list-group list-group-flush">
              {% for post in year.items %}
              <a class="list-group-item list-group-item-action" href="{{ post.url }}">
                <h3 class="h6">
                  {{ post.title }}
                  {% if post.subtitle %}
                  <span class="muted small"> | {{ post.subtitle }}</span>
                  {% endif %}
                </h3>
                <span class="small pull-right">
                  {{ post.date | date: '%A, %B %-d, %Y'}}
                </span>
              </a>
              {% endfor %}
            </ul>
          </div>

      {% endfor %}
    </section>
  </div>
</div>
