---
layout: resume
title: Résumé
link: /resume.pdf
description: This is Jane Doe's professional resume.
permalink: /resume/
menu-item: resume
slug: resume
---
<section class="row resume-main">
  <div class="col-md-4 push-md-8 resume-contact text-small">
    {% include resume_navs.html %}
  </div>
  <div class="col-md-8 pull-md-4 resume-baseinfo">
    <h1 class="resume-name h3">{{ site.data.resume.name }}</h1>
    <div class="resume-title h4">{{ site.data.resume.title }}</div>
    <p>{{ site.data.resume.copy }}</p>
  </div>
  <div class="col-md-12 resume-copy">
    {% if site.data.resume.more-heading %}
    <h2 class="h5">{{ site.data.resume.more-heading }}</h2>
    {% endif %}
    {% if site.data.resume.more %}
    <p class="resume-more-copy">{{ site.data.resume.more }}</p>
    {% endif %}
    {% if site.data.resume.more2-head %}
    <h3 class="h6">{{ site.data.resume.more2-heading }}</h3>
    {% endif %}
    {% if site.data.resume.more2 %}
    <p class="resume-more-copy">{{ site.data.resume.more2 }}</p>
    {% endif %}
  </div>
</section>

<section class="row resume-cards">
  {% for card in site.resume-cards reversed %}
    <div class="col-md-{{ card.width | default: 4 }}">
      <div class="card resume-card">
        <h1 class="card-header">{{ card.type }}</h1>
        <div class="card-body">
          {{ card.content }}
        </div>
      </div>
    </div>
  {% endfor %}
</section>

<section class="row resume-jobs">
  <div class="col-md-12">
    <div class="card resume-card">
      <h1 class="card-header">Experience</h1>
      <div class="card-body">
        <div class="row">
          {% assign jobs = site.resume-jobs | reverse %}
          {% for job in jobs %}
            <div class="resume-job col-md-{{ job.width | default: 4 }}">
              <h2 class="job-title">{{ job.title }}</h2>
              <p class="job-company">{{ job.company }}</p>
              <p class="job-extras">
                <span class="job-extras-location">{{ job.location }}</span>
                <span class="job-extras-duration">{{ job.duration }}</span>
              </p>
              {{ job.content }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row resume-education">
  <div class="col-md-12">
    <div class="card resume-card">
      <h1 class="card-header">Education</h1>
      <div class="card-body">
        {% for degree in site.data.resume.degrees %}
          <div class="degree">
            <div class="degree-data">
              <h2 class="degree-title-field">
                <span class="degree-title">{{ degree.title }}</span>
                <span class="degree-field">{{ degree.field }}</span>
              </h2>
              <div class="degree-extras">
                <span class="degree-institution">{{ degree.institution }}</span>
                <span class="degree-duration">{{ degree.duration }}</span>
              </div>
            </div>
            <span class="degree-notes">{{ degree.notes }}</span>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
