---
title: Tag Index
layout: index
permalink: /tags/
slug: tags
menu-item: tags
header:
---
<div class="container index-content">
  <div class="row">
    {% assign tags = site.tags | sort %}

    <aside class="col-md-4 col-lg-3 text-right aside-sticky tag-index">
      <h2 class="sr-only">Tag List</h2>
      <ul class="list-group tag-group small">
        {% assign ptags = tags | popular_tags | sort_tags %}
        {% for tag in ptags %}
          {% assign t = tag | first %}
          {% assign c = tag | last | size %}
          <a class="list-group-item list-group-item-action" href="#{{ t }}">
            <span>{{ t }}</span>
            <span class="badge badge-secondary ml-3 pull-right">
              <span class="sr-only">(</span><span>{{ c }}</span>
              <span class="sr-only">posts)</span>
            </span>
          </a>
        {% endfor %}
      </ul>
    </aside>

    <section class="col-md-8 col-lg-9">
      <div class="h3 text-muted mb-4">Posts by Tags</div>

      {% assign ptags = tags | popular_tags | sort %}
      {% for tag in ptags %}
        <div class="card mb-4">
          {% assign t = tag | first %}
          {% assign c = tag | last | size %}
          {% assign posts = tag | last | sort %}
          <h2 class="h4 card-header" id="{{ t }}">
            <span>{{ t }}</span>
            <span class="badge badge-secondary pull-right">
              <span class="sr-only">(</span><span>{{ c }}</span>
              <span class="sr-only">posts)</span>
            </span>
          </h2>
          <ul class="list-group tag-group list-group-flush">
            {% for post in posts %}
              <a class="list-group-item list-group-item-action" href="{{ post.url }}">
                <h3 class="h6">
                  {{ post.title }}
                  {% if post.subtitle %}
                  <span class="muted small"> | {{ post.subtitle }}</span>
                  {% endif %}
                </h3>
                <span class="small pull-right">
                  {{ post.date | date: '%A, %B %-d, %Y'}}
                </span>
              </a>
            {% endfor %}
          </ul>
        </div> <!-- ./.tag-entry -->
      {% endfor %}

    </section> <!-- /.col-md-9 -->

  </div> <!-- /.row -->
</div>
