<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right"
          type="button"
          data-target="#siteMenu" data-toggle="collapse"
          aria-controls="siteMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">{{ site.title-brand }}</a>

  <script>
    $(document).ready(function() {
      $('#siteMenu #nav-item-{{ page.menu-item }}').addClass('active');
    });
  </script>

  <div id="siteMenu" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li id="nav-item-about" class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li id="nav-item-contact" class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
