<ul>
  <li class="my-1">
    <i class="fa fa-twitter fa-fw"></i>
    <a href="https://twitter.com/{{ site.data.resume.twitter }}/" target="_blank">
      @{{ site.data.resume.twitter }}
    </a>
  </li>
  <li class="my-1">
    <i class="fa fa-github fa-fw"></i>
    <a href="https://github.com/{{ site.data.resume.github }}/" target="_blank">
      {{ site.data.resume.github }}
    </a>
  </li>
  <li class="my-1">
    <i class="fa fa-linkedin fa-fw"></i>
    <a href="https://www.linkedin.com/in/{{ site.data.resume.linkedin }}" target="_blank">
      linkedin.com/in/{{ site.data.resume.linkedin }}
    </a>
  </li>
  <li class="my-1">
    <i class="fa fa-laptop fa-fw"></i>
    <a href="{{ site.data.resume.homepage }}" target="_blank">
      {{ site.data.resume.homepage }}
    </a>
  </li>
  <li class="my-1">
    <i class="fa fa-envelope fa-fw"></i>
    <a href="mailto:{{ site.data.resume.email }}" target="_blank">
      {{ site.data.resume.email }}
    </a>
  </li>
  <li class="my-1">
    <i class="fa fa-phone-square fa-fw"></i>
    <a href="tel://{{ site.data.resume.phone }}" target="_blank">
      {{ site.data.resume.phone }}
    </a>
  </li>
</ul>
