<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous">
</script>
<script src="/js/bootstrap-popover-x.min.js"></script>
<script src="/js/toggle-sticky.js"></script>

<!-- Select active page on the navbar -->
<script>
  $(document).ready(function() {
    $('#siteMenu #nav-item-{{ page.menu-item }}').addClass('active');
  });
</script>
<!-- End navbar active selection -->

<!-- Hide popovers on lose focus -->
<script>
$(document).mouseup(function(event) {
  var container = $('.popover:visible');
  if(!container.is(event.target) && container.has(event.target).length === 0) {
    // Hide all popovers
    $('.popover:visible').each(function() {
      $(this).popoverX('hide');
    });
  }
});
</script>
<!-- End hide popovers-->

{% if site.services.google_analytics %}
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)
},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', '{{ site.services.google_analytics }}', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
{% endif %}
