<section class="btn-group btn-group-lg mx-auto mb-5">

  <a class="btn btn-outline-secondary"
     href="https://twitter.com/intent/tweet?text=Read this great post by @{{site.owner.twitter }}: {{ site.url }}{{ page.url }}"
     title="Tweet this page" class="btn btn-twitter">
    <i class="fa fa-twitter fa-fw"><span class="sr-only">Share on Twitter</span></i>
  </a>

  <a class="btn btn-outline-secondary"
     href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
     title="Share on Google Plus" class="btn btn-google-plus">
    <i class="fa fa-google-plus"><span class="sr-only">Share on Google Plus</span></i>
  </a>

  <a class="btn btn-outline-secondary"
     href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
     title="Share on Facebook" class="btn btn-facebook">

    <i class="fa fa-facebook fa-fw"><span class="sr-only">Share on Facebook</span></i>
  </a>

</section>
