.aside {
  @extend .alert;
  .aside-heading {
    &:before {
      font: normal normal normal $h5-font-size/1 FontAwesome;
      -webkit-font-smoothing: antialiasing;
      padding-right: 0.5*$spacer;
    }
  }
}

.aside-info {
  @extend .alert-info;
  .aside-heading {
    &:before {
      content: "\f15c";
    }
  }
}

.aside-success {
  @extend .alert-success;
  .aside-heading {
    &:before {
      content: "\f164";
    }
  }
}

.aside-warning {
  @extend .alert-warning;
  .aside-heading {
    &:before {
      content: "\f256";
    }
  }
}

.aside-danger {
  @extend .alert-danger;
  .aside-heading {
    &:before {
      content: "\f071";
    }
  }
}

.aside-sticky {
  @include media-breakpoint-up(md) {
    >.card,
    >.list-group {
      position: sticky;
      top: $spacer;
    }
  }
}

.aside-hr {
  margin-top: 2*$spacer;
  margin-bottom: 1.5*$spacer;

  @include media-breakpoint-up(md) {
    display: none;
  }
}
