.aside-index {
  @include media-breakpoint-down(sm) {
    background: linear-gradient(to top, rgba($white, 0), $white 10%);
    margin-top: -2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .aside-index-list {
    @include media-breakpoint-down(sm) {
      max-height: 25vh;
      overflow: auto;
    }

    border: 1px solid $border-color;
    box-shadow: $box-shadow-sm;
  }
}


.aside {
  @extend .alert;

  &::before {
    font: normal normal normal $h5-font-size FontAwesome;
    padding-right: .5 * $spacer;
  }
}

.aside-sticky {
  @include media-breakpoint-up(xs) {
    position: sticky;
    top: $spacer;
    z-index: 100;
  }
}

#sticky {
  &:not(.sticky):not(.sticky-sm) { //sass-lint:disable-line force-pseudo-nesting
    button {
      display: none;
    }
  }

  &:not(.sticky) {
    button {
      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
  }
}

.aside-sticky-sm {
  @include media-breakpoint-up(sm) {
    position: sticky;
    top: $spacer;
    z-index: 100;
  }
}

.aside-danger, .aside-info, .aside-success, .aside-warning,
.danger, .info, .success, .warning {
  @extend .aside;
  &.sticky { @extend .aside-sticky; }
  &.sticky-sm { @extend .aside-sticky-sm; }
}

.aside-info,
.info {
  @extend .alert-info;
  &::before { content: '\f15c'; }
}

.aside-success,
.success {
  @extend .alert-success;
  &::before { content: '\f164'; }
}

.aside-warning,
.warning {
  @extend .alert-warning;
  &::before { content: '\f256'; }
}

.aside-danger,
.danger {
  @extend .alert-danger;
  &::before { content: '\f071'; }
}

.aside-hr {
  @include media-breakpoint-up(md) {
    display: none;
  }

  margin-bottom: 1.5 * $spacer;
  margin-top: 2 * $spacer;
}
