$index-border-color: rgba($black, .125);
$index-border: 1px solid $index-border-color;

.post-excerpt {
  border: 0;

  header {
    border: $index-border;
    border-bottom: 0;
  }

  section {
    border: $index-border;
    border-top: 0;
  }

  footer {
    border: $index-border;
    border-top: 0;
  }
}

.card-header-tab {
  border: $index-border;
  border-bottom: 0;
  display: inline-block;
  font-size: 80%;
  margin-left: auto;
  margin-right: 0;
  padding-bottom: $spacer / 4;
  padding-top: $spacer / 4;
  width: fit-content;
}

.card-header-tab + .card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@mixin card-category-variant($color) {
  .card-header {
    background-color: $color;
    color: color-yiq($color);
  }

  .card-header-stripe {
    border: 2px solid $color;
    border-top-left-radius: calc(.25rem - 1px);
    margin: 0;
    margin-bottom: -2px;
    z-index: 1000;
  }
}

@each $category, $color in $categories {
  .card-category-#{$category} {
    @include card-category-variant($color);
  }
}
