figure.highlight,
div.highlighter-rouge {
  background-color: $gray-100;
  border: 1px solid rgba($black, .125);
  border-radius: $border-radius;
  box-shadow: 0 .125rem .25rem rgba($black, .175) inset;
  padding: 1rem;
  margin: 1rem 0;
  
  &:hover {
    box-shadow: 0 .5rem 1rem rgba($black, .175) inset;
  }

  pre {
    background-color: inherit;
    margin-bottom: 0;
  }

  .lineno {
    color: mix($text-muted, $white);
    margin-right: $font-size-base;
    user-select: none;
  }
}

.code-highlight-figure {
  @extend .card;
  @include inset-figure;

  .code-highlight-caption {
    @extend .card-header;

    .code-highlight-caption-title {
      @extend .h6;
    }

    .code-highlight-caption-link {
      @extend .btn;
      @extend .btn-sm;
      @extend .btn-primary;
      float: right;
      font-size: 64%;
    }
  }

  .code-highlight {
    @extend .card-body;
    background-color: $gray-100;
    overflow: auto;
    padding-left: 0;
    padding-right: 0;

    .code-highlight-row {
      @include code-marking;
      padding-left: 1.25*$spacer;
      padding-right: 1.25*$spacer;
    }

    .code-highlight-pre {
      @include code-numbering;
      background-color: transparent;
      margin-bottom: 0;
      white-space: pre;
      word-break: break-word;
    }
  }

  .code-highlight-caption-link {
    font-size: 0 !important;
    &:before {
      font: normal normal normal 14px/1 FontAwesome;
      -webkit-font-smoothing: antialiasing;
      content: "\f019";
    }
  }
}
