figure.highlight,
div.highlighter-rouge {
  background-color: $gray-100;
  border: 1px solid rgba($black, .125);
  border-radius: $border-radius;
  box-shadow: 0 .125rem .25rem rgba($black, .175) inset;
  padding: 1rem;
  margin: 1rem 0;
  
  &:hover {
    box-shadow: 0 .5rem 1rem rgba($black, .175) inset;
  }

  pre {
    background-color: inherit;
    margin-bottom: 0;
  }

  .lineno {
    color: mix($text-muted, $white);
    margin-right: $font-size-base;
    user-select: none;
  }
}

.code-highlight-figure {
  @extend .card;
  @include inset-figure;

  .code-highlight-caption {
    @extend .card-header;

    .code-highlight-caption-title {
      @extend .h6;
    }

    .code-highlight-caption-link {
      @extend .btn;
      @extend .btn-sm;
      @extend .btn-primary;
      float: right;
      font-size: 64%;
    }
  }

  .code-highlight {
    @extend .card-body;
    background-color: $gray-100;


    .code-highlight-pre {
      @include code-numbering;
      margin-bottom: 0;
      white-space: pre-wrap;
    }
  }
}
