$pre-scrollbar-track-color: rgba(0, 0, 0, .125);
$pre-scrollbar-thumb-color: rgba(0, 0, 0, .5);

pre {
  overflow: overlay;

  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  &:hover::-webkit-scrollbar { //sass-lint:disable-line force-pseudo-nesting
    height: 6px;
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: $pre-scrollbar-track-color;
    border-radius: 5px;
    box-shadow: $box-shadow-sm;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $pre-scrollbar-thumb-color;
    border-radius: 5px;
    box-shadow: $box-shadow-sm;
  }
}
