$header-attribution-bg: rgba($gray-900, .5);
$header-hr: rgba($white, .5);

.header-image {
  background-size: cover;
  border-radius: 0;
  padding-bottom: 3 * $spacer;

  &.text-white {
    hr {
      border-top-color: $header-hr;
    }
  }

  @include media-breakpoint-up(sm) {
    margin-top: -3.5 * $font-size-base;
    padding-top: 2 * $jumbotron-padding + 3.5 * $font-size-base;
  }
}

.container-relative {
  bottom: -3 * $spacer;
  height: 100%;
  position: relative;
  width: 100%;
}

.header-attribution {
  @include media-breakpoint-up(lg) {
    max-width: 50%;
  }

  background-color: $header-attribution-bg;
  color: $gray-400;
  font-size: $small-font-size;
  margin-left: auto;
  max-width: 75%;
  padding: .5 * $spacer;

  a {
    color: $gray-200;

    &:hover {
      color: $gray-100;
    }
  }
}
