.jumbotron-top {
  background-size: cover;
  border-radius: 0;

  &.text-white {
    hr {
      border-top-color: $white;
      border-top-color: rgba($white, .1);
    }
  }

  @include media-breakpoint-up(sm) {
    margin-top: -3.5 * $font-size-base;
    padding-top: 2 * $jumbotron-padding + 3.5 * $font-size-base;
  }
}
