.image-caption {
  @extend .card;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;

  .caption-text {
    @extend .card-footer;
    font-size: 89.4%;
    p:first-child {
      font-size: inherit;
    }
  }

  &.left {
    @include media-breakpoint-up(sm) {
      float: left;
      margin-right: 2*$spacer;
    }
  }

  &.right {
    @include media-breakpoint-up(sm) {
      float: right;
      margin-left: 2*$spacer;
    }
  }

  &.left,
  &.right {
    @include media-breakpoint-up(sm) {
      width: calc(50% - #{$spacer});
    }

    @include media-breakpoint-up(md) {
      width: calc(33% - #{$spacer});
    }


    &.half {
      @include media-breakpoint-up(sm) {
        width: calc(50% - #{$spacer});
      }
    }

    &.quarter {
      @include media-breakpoint-up(lg) {
        width: calc(25% - #{$spacer});
      }
    }
  }

  &.center {
    @include media-breakpoint-up(sm) {
      width: 66.7%;
    }

    &.half {
      @include media-breakpoint-up(sm) {
        width: 50%;
      }
    }

    &.full {
      width: 100%;
    }
  }

  &.image-caption-absolute {
    width: min-content;
    width: -moz-min-content;
    width: -webkit-min-content;
    .image-popup {
      width: initial;
    }
  }
}
