.image-caption {
  @extend .card;
  width: fit-content;

  .caption-text {
    @extend .card-footer;
    font-size: 89.4%;
    p:first-child {
      font-size: inherit;
    }
  }

  &.left {
    float: left;
    margin-right: 2*$spacer;
  }

  &.right {
    float: right;
    margin-left: 2*$spacer;
  }

  &.left,
  &.right {
    @include media-breakpoint-up(sm) {
      width: calc(33% - #{$spacer});
    }

    &.half {
      @include media-breakpoint-up(sm) {
        width: calc(50% - #{$spacer});
      }
    }

    &.half-and-third {
      width: 50%;
      @include media-breakpoint-up(sm) {
        width: calc(33% - #{$spacer});
      }
    }

    &.quarter {
      @include media-breakpoint-up(sm) {
        width: calc(25% - #{$spacer});
      }
    }
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
    @include media-breakpoint-up(sm) {
      width: 66.7%;
    }

    &.half {
      @include media-breakpoint-up(sm) {
        width: 50%;
      }
    }

    &.full {
      width: 100%;
    }
  }

  &.image-caption-absolute {
    width: min-content;
    .image-popup {
      width: initial;
    }
  }
}
