.post-excerpt {
  .card-img-top {
    background-size: cover;
    height: 15rem;
  }

  .card-body p:last-child {
    margin-bottom: 0;
  }

  .card-title-link {
    color: inherit;
  }

  .footnotes {
    display: none;
  }
}


