.post-excerpt {
  .card-img-top {
    background-size: cover;
    height: 15rem;
  }

  .card-body {
    border-right: 1px solid rgba(0, 0, 0, .125);
    border-left: 1px solid rgba(0, 0, 0, .125);

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .card-title-link {
    color: inherit;
  }

  .footnotes {
    display: none;
  }
}


