.post-excerpt {
  border: 0;
  box-shadow: 0 .125rem .25rem rgba($black, .175);

  &:hover {
    box-shadow: 0 .5rem 1rem rgba($black, .175);
  }
  .card-img-top {
    background-size: cover;
    height: 15rem;
  }

  .card-block p:last-child {
    margin-bottom: 0;
  }

  .card-title-link {
    color: inherit;
    text-decoration: none;
  }

  .footnotes {
    display: none;
  }
}


