$deep-box-shadow: 0 .125rem .25rem rgba($black, .175);
$deep-box-shadow-hover: 0 .5rem 1rem rgba($black, .175);

@mixin code-numbering {
  display: table;
  width: 100%;

  .code-highlight-row.numbered { //sass-lint:disable-line force-element-nesting
    display: table-row;

    .code-highlight-line {
      display: table-cell;
      padding-left: 1.25 * $spacer;
      padding-right: 1.25 * $spacer;
    }

    &::before {
      color: $gray-500;
      content: attr(data-line);
      display: table-cell;
      padding-left: 1.25 * $spacer;
      text-align: right;
      word-break: normal;
    }
  }
}

@mixin code-marking($color: $gray-300, $text: $gray-900) {
  &.marked-line {
    background: linear-gradient(to right, $color, 90%, transparent);

    &::before {
      background: linear-gradient(to left, $color, transparent);
      color: $text;
    }

    &.start-marked-line {
      background: linear-gradient(80deg, $color, 90%, transparent);
    }

    &.end-marked-line {
      background: linear-gradient(100deg, $color, 90%, transparent);
    }
  }
}

@mixin scrollbars-hover {
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  &:hover::-webkit-scrollbar { //sass-lint:disable-line force-pseudo-nesting
    height: .5em;
    width: .5em;
  }

  &::-webkit-scrollbar-track {
    background-color: $scrollbar-hover-track-color;
    border-radius: 5px;
    box-shadow: $box-shadow-sm;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-hover-thumb-color;
    border-radius: 5px;
    box-shadow: $box-shadow-sm;
  }

  &::-webkit-scrollbar-corner {
    background-color: $scrollbar-hover-track-color;
    border-radius: 5px;
    box-shadow: $box-shadow-sm;
  }
}

@mixin inset-figure {
  .code-highlight-caption {
    box-shadow: $deep-box-shadow;
  }

  .code-highlight {
    box-shadow: $deep-box-shadow inset;
  }

  &:hover {
    .code-highlight-caption {
      box-shadow: $deep-box-shadow-hover;
    }

    .code-highlight {
      box-shadow: $deep-box-shadow-hover inset;
    }
  }
}
