.popover {
  display: none;

  .popover-title {
    background-color: $card-cap-bg;
    border-bottom: $card-border-width solid $card-border-color;
    margin-bottom: 0; // Removes the default margin-bottom of <hN>
    padding: $card-spacer-y $card-spacer-x;

    &:first-child {
      @include border-radius($card-inner-border-radius
        $card-inner-border-radius 0 0);
    }
  }

  .popover-img {
    width: 100%;
  }

  .popover-content {
    flex: 1 1 auto;
    padding: $card-spacer-x;

    *:last-child {
      margin-bottom: 0;
    }
  }

  .btn-group {
    .btn {
      border-radius: 0;
    }
  }

  .btn-popover-bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-family: $font-family-sans-serif;
    width: 100%;
  }

  //sass-lint:disable no-important force-pseudo-nesting
  &.top {
    .arrow::after {
      border-top-color: $dark !important;
    }
  }

  &.bottom {
    .arrow::after {
      border-top-color: $light !important;
    }
  }

  &.left {
    .arrow::after {
      border-left-color: currentColor !important;
    }
  }
  //sass-lint:enable no-important force-pseudo-nesting
}
