.jumbotron {
  .btn {
    display: block;
    margin: 2em auto 0;
    width: fit-content;
    width: -moz-fit-content; //scss-lint:disable VendorPrefix
  }
}

.resume-name {
  font-size: $h1-font-size;
}

.resume-title {
  font-style: italic;
}

.resume-main,
.resume-card {
  margin-bottom: 1.5 * $spacer;
}

.resume-contact {
  ul {
    padding-left: 0;
    list-style: none;
    font-size: 80%;

    @include media-breakpoint-up(lg) {
      font-size: 91%; // sqrt(80%)
    }

    @include media-breakpoint-only(sm) {
      column-count: 2;
      padding: 0;
    }

    @include media-breakpoint-only(xs) {
      text-align: center;
    }
  }

  a {
    color: $gray-700;
  }

  .fa-envelope {
    color: $color-gmail;
  }

  .fa-github {
    color: $color-github;
  }

  .fa-linkedin {
    color: $color-linkedin;
  }

  .fa-phone-square {
    color: $color-phone;
  }

  .fa-twitter {
    color: $color-twitter;
  }
}

.resume-card {
  h1 {
    font-size: $h4-font-size;
  }

  h2 {
    display: inline-block;
    margin-top: 0.5 * $spacer;
    margin-bottom: 0;
    font-size: $h5-font-size;

    &:first-child {
      margin-top: 0;
    }

    a {
      color: $gray-900;

      &::after {
        padding-right: 0.5 * $spacer;
        padding-left: 0.5 * $spacer;
        font: normal normal normal 14px/1 FontAwesome;
        -webkit-font-smoothing: antialiasing;
        content: "\f0c1";
      }
    }
  }

  h3,
 .subtitle {
    margin: 0;
    font-size: $h6-font-size;
    font-style: italic;
  }

  ul,
  p {
    margin-bottom: 0;
  }
}

.resume-job,
.degree {
  margin-bottom: $spacer;

  &:last-child {
    margin-bottom: 0;
  }

  .job-company,
  .degree-institution {
    font-style: italic;
  }

  .job-extras,
  .degree-extras {
    font-size: $font-size-sm;

    .job-extras-duration,
    .degree-duration {
      float: right;
    }
  }
}
