@media print {
  html {
    font-size: 13px;
  }
  body {
    color: #000;
  }
  @page {
    size: letter portrait;
    margin: .35in .35in .3in .35in;
  }

  #resume {
    /* Fix for Chrome */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &::first-letter {
        margin-top: 0;
      }
    }

    .navbar,
    .jumbotron-top,
    .site-footer {
      display: none;
    }

    .card {
      border: none;

      .card-header {
        background-color: transparent;
        padding: 0 0 .5rem;
        border-bottom: 1px solid $black;
      }

      .card-body {
        padding: .5rem 0 0;

        ul {
          padding-left: 1rem;
        }
      }
    }

    .resume-education {
      .card {
        margin-bottom: 0!important;
      }
    }

    .resume-contact ul {
      column-count: 1;
      text-align: left;

      i {
        color: $gray-500;
      }
      a {
        color: $gray-800;
        text-decoration: none;
      }
    }
  }

  .pull-md-4 {
    right: 33.33333%;
  }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .push-md-8 {
    left: 66.66667%;
  }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
}

.resume-sharing {
  display: none;
}
