.resume-content {
  .jumbotron-top {
    .btn {
      display: table;
      margin: 0 auto;
      text-decoration: none;
    }
  }
}

.resume-main {
  .resume-title {
    font-weight: 300;
  }

  h3 {
    font-size: $h6-font-size;
  }

  p {
    margin-bottom: .5rem;
  }
}

.resume-contact {
  ul {
    font-size: 89.4%; // sqrt(80%)
    list-style: none;
    padding-left: 0;

    @include media-breakpoint-up(lg) {
      font-size: 80%;
    }

    @include media-breakpoint-only(sm) {
      column-count: 2;
      padding: 0;
    }

    @include media-breakpoint-only(xs) {
      text-align: center;
    }
  }

  a {
    color: $gray-700
  }

  .fa-envelope {
    color: #ea4335;
  }

  .fa-github {
    color: #6cc644;
  }
  
  .fa-linkedin {
    color: #0077b5;
  }

  .fa-phone-square {
    color: #61ed6a;
  }

  .fa-twitter {
    color: #1da1f2;
  }
}

.resume-cards,
.resume-jobs,
.resume-education {
  font-size: $font-size-sm;
  line-height: 1.25;

  .card {
    margin-bottom: .5rem!important;
    margin-top: .5rem!important;
  }

  p,
  ul,
  ol {
    margin-bottom: .8rem;
  }
  
  .card-header {
    font-size: 1.12rem; /* sqrt($font-size-h5), eg half-step between h5 & h6 */
  }

  *:last-child {
    margin-bottom: 0;
  }

  h4 {
    font-size: $h6-font-size;
    display: inline-block;
  }

  .subtitle {
    color: $gray-500;
    display: inline-block;
    font-style: italic;
  }

  h5 {
    font-size: $font-size-sm;
  }

  .job-company, .degree-institution { font-style: italic; margin-bottom: 0; }
  .job-extras, .degree-notes { font-size: 89.4%; }
  .job-extras .job-extras-duration,
  .degree-extras .degree-duration { float: right; }
}

.resume-jobs {
  .col-md-6 {
    @media screen and (max-width: 767px) {
      padding-bottom: $spacer;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
