@media print {
  html {
    font-size: 13px;
  }

  body {
    color: $black;
  }

  #resume { //scss-lint:disable IdSelector
    @page {
      size: letter portrait;
      margin: .35in .35in .3in;
    }

    html {
      font-size: 14px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      // Fix for Chrome
      &::first-letter {
        margin-top: 0;
      }

      a {
        text-decoration: none;

        &::after {
          font-size: $font-size-sm;
          content: "(" attr(href) ")";
        }
      }
    }

    .navbar,
    .header-image,
    .site-footer,
    .resume-sharing {
      display: none;
    }
  }

  .resume-main,
  .resume-card {
    margin-bottom: 0.5 * $spacer;
  }

  .resume-card {
    border: 0;

    .card-header {
      border-bottom: 1px solid $black;
      background-color: transparent;
      padding: 0 0 .5rem;
    }

    .card-body {
      padding: .5rem 0 0;

      ul {
        padding-left: 1rem;
      }
    }
  }

  .resume-education {
    .card {
      margin-bottom: 0;
    }
  }

  .resume-contact ul {
    column-count: 1;
    text-align: left;
    font-size: 91%;

    i {
      color: $gray-500;
    }

    a {
      text-decoration: none;
      color: $gray-800;
    }
  }

  .pull-md-4 {
    right: 33.33333%;
  }

  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .push-md-8 {
    left: 66.66667%;
  }

  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
}
