.tag-group {
  .list-group-item {
    padding: $list-group-item-padding-y * .75 $list-group-item-padding-x * .75;
  }
}

.tag-index {
  // background: linear-gradient(to top, rgba($white, 0%) -50%, rgba($white, 100%));
  @include media-breakpoint-down(sm) {
    background: linear-gradient(to top, rgba($white, 0), $white 10%);
    top: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: -2rem;
  }

  .tag-group {
    border: 1px solid $border-color;
    box-shadow: $box-shadow-sm;

    @include media-breakpoint-down(sm) {
      overflow: auto;
      max-height: 25vh;
    }
  }
}

.jumbotron {
  .tags {
    font-size: 1.5em;
    margin-top: $spacer * 3;
    text-align: center;
  }
}

.tag {
  border-radius: 2 * $badge-border-radius 2 * $badge-border-radius 2 * $badge-border-radius 0 * $badge-border-radius;
  display: inline-block;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  line-height: 1;
  padding: $badge-padding-y $badge-padding-x;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }
}

.tag-outline-light {
  background-color: transparent;
  border: 1px solid $light;
  color: $light;

  &[href] {
    @include hover-focus {
      background-color: transparent;
      border-color: darken($light, 10%);
      color: darken($light, 10%);
      text-decoration: none;
    }
  }
}
