$font-size-base: 1rem;

$categories: (
  // These should match the short category tags defined in _config.yml
  'code': #701516,
  'life': #151670,
);

// Social site colors
$color-gmail:  #ea4334;
$color-github: #23282e;
$color-linkedin: #0077b5;
$color-phone: #61ed6a;
$color-twitter: #1da1f2;

$scrollbar-hover-track-color: #242d3820;
$scrollbar-hover-thumb-color: #485b70ff;