---
layout: default
---
<article class="post-content">

  {% if page.header %}
  <header class="jumbotron jumbotron-fluid jumbotron-top bg-inverse text-white"
          style="background-image: url('/images/headers/{{ page.header.image }}')">
  {% else %}
  <header class="jumbotron jumbotron-fluid jumbotron-top bg-inverse text-white"
          style="background-image: url('/images/headers/{{ site.header.image }}')">
  {% endif %}
    <div class="container">
      <h1 class="display-2 offset-md-1">
        {{ page.title }}
      </h1>
      {% if page.subtitle %}
      <hr class="my-5 offset-md-1"/>
      <p class="display-5 font-italic offset-md-1">
        {{ page.subtitle }} 
      </p>
      {% endif %}
    </div>
  </header>

  <section class="container">
    <div class="row">
      <div class="col-md-9 offset-md-2">
        {{ content }}
      </div>
    </div>
  </section>

</article>
