---
layout: default
---
<article class="page-content">

  {% include header.html %}

  <div class="container">
    <div class="row">
      <section class="col-lg-9 offset-lg-2">
        {{ content }}
      </section>

      {% if page.sharing %}
      <hr class="col-lg-9 offset-lg-2 my-5 offset-md-1" />

      <section class="col-lg-9 offset-lg-2 text-center">
        <h2 class="d-none">Social Sharing Links</h2>
        {% include social_sharing.html %}
      </section>
      {% endif %}
    </div>
  </div>

</article>
