---
layout: default
---
<article class="post-content">

  {% include header.html %}

  <div class="container">
    <div class="row">

      <section class="col-lg-9 offset-lg-2 main-content">
        {% if page.pre-asides %}
        {% for aside in page.pre-asides %}
        {% if aside.class contains "sticky" %}
        <aside id="sticky" class="aside-{{ aside.class }}">
          <button type="button" class="close" data-target="#sticky" data-remove="sticky sticky-xs" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        {% else %}
        <aside class="aside-{{ aside.class }}">
        {% endif %}
          <strong class="aside-heading">{{ aside.heading }}:</strong>
          <span class="aside-text">{{ aside.text }}</span>
        </aside>
        {% endfor %}
        {% endif %}

        <h2 class="d-none">Main Content</h2>
        {{ content }}
      </section>

      <hr class="col-lg-9 offset-lg-2 my-5 offset-md-1" />

      <section class="col-lg-9 offset-lg-2 text-center">
        <h2 class="d-none">Social Sharing Links</h2>
        {% include social_sharing.html %}
      </section>
{% if site.related_wide %}
    </div>
  </div>

  <section class="w-100 my-5 order-lg-6">
    {% include related_posts.html %}
  </section>

  <div class="container">
    <div class="row">
{% else %}

  <section class="col-lg-12 my-5 order-lg-6">
    {% include related_posts.html %}
  </section>

{% endif %}
      {% if site.services.disqus_shortname and page.comments %}
      <section class="col-lg-9 offset-lg-2">
        <div class="card">
          <h2 class="card-header">Comments</h2>
          <div class="card-body">
            {% include comments.html %} 
          </div>
        </div>
      </section>
      {% endif %}

    </div>
  </div>

</article>
